.heading-background {
  background-color: #f39c12;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
}

.imageadd {
  background: none; /* ลบพื้นหลัง */
  border: none;     /* ลบกรอบ */
  padding: 0;
  cursor: pointer;
  position: absolute; /* ใช้ absolute position */
  right: 110px;        /* กำหนดตำแหน่งทางขวา */
  top: 20px;          /* กำหนดตำแหน่งทางบน */
  z-index: 1000;      /* ทำให้ปุ่มอยู่ด้านหน้า */
}

.imageadd img {
  width: 50px; /* ขนาดของรูปภาพ */
  height: 50px;
}

.imagedel {
  background: none; /* ลบพื้นหลัง */
  border: none; /* ลบกรอบ */
  padding: 0;
  cursor: pointer;
  position: absolute; /* ใช้ absolute position */
  right: 30px; /* กำหนดตำแหน่งทางขวา */
  top: 20px; /* กำหนดตำแหน่งทางบน */
  z-index: 1000; /* ทำให้ปุ่มอยู่ด้านหน้า */
}

.imagedel img {
  width: 50px; /* ขนาดของรูปภาพ */
  height: 50px;
}

.card {
  width: 40%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.numberInput {
  width: 98%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submitButton {
  background-color: #4fce2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
