.container {
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar {
    width: 750px;
    padding: 20px;
  }
  
  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
  }

  .image {
    width: 100%;
    height: auto;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .rectableContainer {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
  }

  .tableNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: black;
  }